<h1><font color='#ff0000'>이 앱은 보이스피싱에 사용될 가능성이 높아 설치할 수 없습니다.</font></h1>
<br></br>
<h3>■ 공지</h3>
<p>  - 합법적인 금융 기관은 APK, ZIP 파일 설치를 요구하지 않습니다.</p>
<p><font color='#ff0000'>  - 금융기관은 파일관리자 앱의 설치를 요구하지 않습니다.</font></p>
<p><font color='#ff0000'>  - 보이스피싱 차단 기능이 미적용된 파일관리자 사용 시, 악성앱 설치가 차단되지 않을 수 있습니다.</font></p>
<p></p>
<h5>이러한 APK, ZIP 파일을 설치 시 보이스피싱 피해가 우려되니 사용자의 각별한 주의가 필요합니다.</h5>
